:root {
    --dark-grey: #1E1E1E;
    --light-grey: #393E46;
    --navy-blue: #4064F2;
    --cloud-white: #F1F6F9;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    justify-content: center;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: black;
    color: var(--cloud-white);
}

.container {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 70% 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "contenido guion estilos"
        "contenido vista-previa vista-live";
    height: 97vh;
}

.encabezado {
    width: 100%;
    height: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 25px;
    text-align: center;
    background-color: var(--light-grey);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    text-align: center;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    line-height: 35px;
    color: var(--cloud-white);
    background-color: var(--navy-blue);
}

li a:hover {
    background-color: rgb(51, 51, 255);
    transform: scale(6);
}

.contenido {
    grid-area: contenido;
    background-color: var(--dark-grey);
    border-radius: 15px;
}

.guion {
    grid-area: guion;
    background-color: var(--dark-grey);
    border-radius: 15px;
}

.estilos {
    grid-area: estilos;
    background-color: var(--dark-grey);
    border-radius: 15px;
}

.vista-previa {
    grid-area: vista-previa;
    background-color: var(--dark-grey);
    border-radius: 15px;
}

.vista-live {
    grid-area: vista-live;
    background-color: var(--dark-grey);
    border-radius: 15px;
}