<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajustes</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <h1>Ajustes 1</h1>
    <h2>Ajustes 2</h2>
</body>
</html>