<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Church FPS - Free Presenter Software</title>
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <div class="container">

            <div class="contenido">
                <div class="encabezado">
                    <strong>Contenido</strong>
                </div>
                <div class="pestanas">
                    <input type="radio" class="pestanas-radio" name="nav" id="p1" checked>
                    <label for="p1" class="pestanas-label">Biblia</label>
                    <div class="pestanas-content">
                        Acá van las biblias
                    </div>
                    <input type="radio" class="pestanas-radio" name="nav" id="p2">
                    <label for="p2" class="pestanas-label">Canciones</label>
                    <div class="pestanas-content">
                        Acá van las canciones
                    </div>
                    <input type="radio" class="pestanas-radio" name="nav" id="p3">
                    <label for="p3" class="pestanas-label">Videos</label>
                    <div class="pestanas-content">
                        Acá van los videos
                    </div>
                    <input type="radio" class="pestanas-radio" name="nav" id="p4">
                    <label for="p4" class="pestanas-label">Imágenes</label>
                    <div class="pestanas-content">
                        Acá van las imágenes
                    </div>
                    <input type="radio" class="pestanas-radio" name="nav" id="p5">
                    <label for="p5" class="pestanas-label">Presentaciones</label>
                    <div class="pestanas-content">
                        Acá van las presentaciones
                    </div>
                    <input type="radio" class="pestanas-radio" name="nav" id="p6">
                    <label for="p6" class="pestanas-label">Extras</label>
                    <div class="pestanas-content">
                        Acá van las opciones para poner textos, notas y relojes
                    </div>
                </div>   
            </div>

            <div class="guion">
                <div class="encabezado">
                    <strong>Guión</strong>
                </div>
            </div>

            <div class="estilos">
                <div class="encabezado">
                    <strong>Estilos</strong>
                </div>
            </div>

            <div class="vista-previa">
                <div class="encabezado">
                    <strong>Vista Previa</strong>
                </div>
            </div>

            <div class="vista-live">
                <div class="encabezado">
                    <strong>En Vivo</strong>
                </div>
            </div>

        </div>
    </body>    
</html>