<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Church FPS - Free Presenter Software</title>
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <div class="container">
            <div class="contenido">
                acá va el contenido
            </div>
            <div class="guion">
                acá va el guión
            </div>
            <div class="estilos">
                acá van los estilos y temas
            </div>
            <div class="vista-previa">
                acá se verá la vista previa
            </div>
            <div class="vista-live">
                acá se verá lo que está en vivo
            </div>
        </div>
    </body>    
</html>