<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Church FPS - Free Presenter Software</title>
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <div class="container">

            <div class="contenido">
                <div class="encabezado">
                    <strong>Contenido</strong>
                </div>
                <ul class="navContenido">
                    <li><a href="#">Biblia</a></li>
                    <li><a href="#">Canciones</a></li>
                    <li><a href="#">Imágenes</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Presentaciones</a></li>
                    <li><a href="#">Anotaciones</a></li>
                    <li><a href="#">Tiempo</a></li>
                </ul>    
            </div>

            <div class="guion">
                <div class="encabezado">
                    <strong>Guión</strong>
                </div>
            </div>

            <div class="estilos">
                <div class="encabezado">
                    <strong>Estilos</strong>
                </div>
            </div>

            <div class="vista-previa">
                <div class="encabezado">
                    <strong>Vista Previa</strong>
                </div>
            </div>

            <div class="vista-live">
                <div class="encabezado">
                    <strong>En Vivo</strong>
                </div>
            </div>

        </div>
    </body>    
</html>